<div class="user-details">
  <img src="https://github.com/minho0511/minho0511.github.io/blob/master/KakaoTalk_20191125_015258958.jpg?raw=true" width = "40%">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <p>I have Adobe Photoshop, Premiere, the Premier, and can handle.
Autodesk's Autocad Maya, etc.
The main tool is clip-studio.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <p>I can handle c and c++ in programming language.</p>
  </div>
  <div class="tech">
  </div>
</div>
